<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hardware Info</title>
    <link rel="stylesheet" href="src/index.css">
</head>
<body>
    <div id="container">
        <h1>Hardware Information</h1>
        <div id="hardware-info">
            <p>CPU: <span id="cpu-name">Loading...</span></p>
            <p>GPU: <span id="gpu-name">Loading...</span></p>
            <p>RAM: <span id="ram-amount">Loading...</span></p>
        </div>
        <p>The following info will be uploaded to the leaderboard during the test. By clicking continue, you understand this info may be public.</p>
        <p>Some info, such as RAM may be displayed incorrectly. This is due to the browser only being able to used displayed amount.</p>
        <input type="text" id="username" placeholder="Enter your username">
        <button id="continue-button">Continue</button>
    </div>
    <script src="src/index.js"></script>
</body>
</html>