body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.circle {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
}

#counter, #timer {
    position: absolute;
    top: 10px;
    color: #fff;
    font-size: 24px;
    z-index: 1000;
}

#counter {
    left: 10px;
}

#timer {
    right: 10px;
}

/* Move the done-screen to the top of the screen */
.done-screen {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    font-size: 36px;
    text-align: center;
    z-index: 1000; /* Ensure it's on top */
}

.leaderboard {
    margin-top: 20px;
    color: #fff;
}

.leaderboard table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

.leaderboard th, .leaderboard td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: center;
}

.leaderboard th {
    background-color: #333;
}